<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<!--add id="Cleargo::integrationframeworks" module="Cleargo_Integrationframeworks" resource="Magento_Backend::content" sortOrder="9999" title="Cleargo"/-->
		<add action="cleargo_integrationframeworks/workflowschedule/index" id="Cleargo::cleargo_integrationframeworks_workflowschedule" module="Cleargo_Integrationframeworks" parent="Cleargo::top_level" resource="Magento_Backend::content" sortOrder="9999" title="WorkflowSchedule"/>
		<add action="cleargo_integrationframeworks/workflowcomponentschedulerelation/index" id="Cleargo::cleargo_integrationframeworks_workflowcomponentschedulerelation" module="Cleargo_Integrationframeworks" parent="Cleargo::top_level" resource="Magento_Backend::content" sortOrder="9999" title="WorkflowComponentScheduleRelation"/>
		<add action="cleargo_integrationframeworks/workflowcomponentdefinition/index" id="Cleargo::cleargo_integrationframeworks_workflowcomponentdefinition" module="Cleargo_Integrationframeworks" parent="Cleargo::top_level" resource="Magento_Backend::content" sortOrder="9999" title="WorkflowComponentDefinition"/>
		<add action="cleargo_integrationframeworks/workflowcomponentdefinitionparameters/index" id="Cleargo::cleargo_integrationframeworks_workflowcomponentdefinitionparameters" module="Cleargo_Integrationframeworks" parent="Cleargo::top_level" resource="Magento_Backend::content" sortOrder="9999" title="WorkflowComponentDefinitionParameters"/>
		<add action="cleargo_integrationframeworks/workflowplans/index" id="Cleargo::cleargo_integrationframeworks_workflowplans" module="Cleargo_Integrationframeworks" parent="Cleargo::top_level" resource="Magento_Backend::content" sortOrder="9999" title="WorkflowPlans"/>
		<!--add action="cleargo_integrationframeworks/workflowdownload/index" id="Cleargo::cleargo_integrationframeworks_workflowdownload" module="Cleargo_Integrationframeworks" parent="Cleargo::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Download Output Files"/-->
	</menu>
</config>
