<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="cleargo_integrationframeworks" id="cleargo_integrationframeworks">
			<module before="Magento_Backend" name="Cleargo_Integrationframeworks"/>
		</route>
		<route frontName="workflows" id="workflows">
			<module before="Magento_Backend" name="Cleargo_Integrationframeworks"/>
		</route>
	</router>
</config>
